In [1]:

#d 이  자료는   선생님용 필기 PDF 가 있음 ! 






import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("petition.csv", parse_dates=['start','end'])    # 이 파일 작업환경으로 옮겨놓았기에 경로 필요 없음~
# parse_dates 는 날짜 형식으로 준다는...

In [3]:
df.head(3)

# 앞 쪽 간보기

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [4]:
df.isnull().sum()    
# 결측치 확인

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

In [5]:
print(df.describe())
print('*'*30)
print(df.info())
print('*'*30)
print(df.dtypes) # data타입만
print('*'*30)
print(df.columns)  # 컬럼 명

          article_id       answered         votes
count  395547.000000  395547.000000  3.955470e+05
mean   251608.934635       0.000073  1.501188e+02
std    153219.216242       0.008562  4.802583e+03
min        21.000000       0.000000  0.000000e+00
25%    115236.500000       0.000000  2.000000e+00
50%    253682.000000       0.000000  5.000000e+00
75%    386137.500000       0.000000  1.500000e+01
max    517122.000000       1.000000  1.192049e+06
******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 24.1+ MB
None
******************************
article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
dtype: object
******************************
Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

In [6]:
df.describe() 
#수치형 변수만 줌.

          article_id       answered         votes
count  395547.000000  395547.000000  3.955470e+05
mean   251608.934635       0.000073  1.501188e+02
std    153219.216242       0.008562  4.802583e+03
min        21.000000       0.000000  0.000000e+00
25%    115236.500000       0.000000  2.000000e+00
50%    253682.000000       0.000000  5.000000e+00
75%    386137.500000       0.000000  1.500000e+01
max    517122.000000       1.000000  1.192049e+06

In [7]:
df.describe()["votes1"].astype(int)

KeyError: 'votes1'

In [8]:
df.describe()

          article_id       answered         votes
count  395547.000000  395547.000000  3.955470e+05
mean   251608.934635       0.000073  1.501188e+02
std    153219.216242       0.008562  4.802583e+03
min        21.000000       0.000000  0.000000e+00
25%    115236.500000       0.000000  2.000000e+00
50%    253682.000000       0.000000  5.000000e+00
75%    386137.500000       0.000000  1.500000e+01
max    517122.000000       1.000000  1.192049e+06

In [9]:
pd.set_option('float_format'   
              
              
     #코드 놓침

SyntaxError: unexpected EOF while parsing (<ipython-input-9-bcc8529d93e5>, line 4)

In [10]:
# 카테고리컬 데잍 터 요약 
df.describe(include = np.object)

       category     title   content
count    395547    395547    395546
unique       17    346524    375224
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      62750      3018       597

In [11]:
#1. 20만 건 이상 투표 받은 것
# 2. 으로 데이터 프레임 만들기
# 3. 그것 개수도.

In [12]:
df.loc[df['votes'] >= 200000, "votes20"] = 0  #나

In [13]:
df['votes20'].isnull().sum()   #나

395467

In [14]:
df.shape # 나

(395547, 9)

In [15]:
395547-395467  # 나 ..     뭘 하려는지는 알겠 .. ㅋ ㅋㅋ

80

In [16]:
#선생님 풀이 - 코드 잘 알아놓자!!!

df['votes'] > 200000  # 확인
df[ df['votes'] > 200000 ] 

df_20 = df.loc[df['votes']>200000] ; df_20.head(3)     #물론 loc앞에 어차피 df.없어도 데이터프레임으로 저장되기는 함.

,article_id,start,end,answered,votes,category,title,content,votes20
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...,0.0
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,0.0
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...,0.0

In [17]:
df_20.shape   #80개군.

(80, 9)

In [18]:
######################### 오후 #####################

# 1000건은 ?
#

In [19]:
df[df["votes"] > 1000].count()

article_id    3472
start         3472
end           3472
answered      3472
votes         3472
category      3472
title         3472
content       3472
votes20         80
dtype: int64

In [20]:
print(df_20.category.value_counts()) ;  df_20["category"].value_counts()

인권/성평등         24
안전/환경          10
정치개혁            8
기타              8
문화/예술/체육/언론     7
반려동물            4
외교/통일/국방        4
교통/건축/국토        3
육아/교육           3
보건복지            3
경제민주화           2
성장동력            2
행정              1
미래              1
Name: category, dtype: int64

인권/성평등         24
안전/환경          10
정치개혁            8
기타              8
문화/예술/체육/언론     7
반려동물            4
외교/통일/국방        4
교통/건축/국토        3
육아/교육           3
보건복지            3
경제민주화           2
성장동력            2
행정              1
미래              1
Name: category, dtype: int64

# 3개 컬럼만 보기 ? 
df['title', 'content' 'votes'] ? 노. 리스트로 해야 !

In [21]:
a=  ['title', 'content', 'votes']

In [22]:
df[a]

,title,content,votes
0,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,9
1,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,17
2,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0
3,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,53
4,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0
...,...,...,...
395542,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...,3
395543,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...,23
395544,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...,0
395545,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하...",20
395546,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;,16

#20만 건 중 상위 5개만 ? df_20
 -  판다스 유저가이드 되게 유용함. 이 매뉴얼을 잘 보는게 중요한 것 같다.

In [ ]:
df.sort_values(by='votes', ascending =False).head(5)

# df[df['votes']>200000].sort_values(by ='votes',ascending=False).head(5) #가능

#20만 건 이상은 컬럼 answer으로 한다.

In [23]:

df['answer']  =  df['votes'] > 200000

In [24]:
df['answer'].value_counts() == True

False    False
True     False
Name: answer, dtype: bool

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
 8   votes20     80 non-null      float64
 9   answer      395547 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(1), int64(3), object(3)
memory usage: 27.5+ MB

In [26]:
df['answer'].astype("int")    # 난 이렇게 했는데 




df['answer'] = df['answer'].astype('int')  # 이렇게 했어야 !

In [27]:
df01 = df.copy()
df = df01

In [28]:
df.info()  #이거 보며 확인 가능!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
 8   votes20     80 non-null      float64
 9   answer      395547 non-null  int32
dtypes: datetime64[ns](2), float64(1), int32(1), int64(3), object(3)
memory usage: 28.7+ MB

# 답변대상 청원중 아직 답변되지 않은 청원의 수를 계산하라

In [32]:
df.head(3)

,article_id,start,end,answered,votes,category,title,content,votes20,answer
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,NaN,0
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,NaN,0
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",NaN,0

0         0
1         0
2         0
3         0
4         0
         ..
395542    0
395543    0
395544    0
395545    0
395546    0
Name: answer, Length: 395547, dtype: int32

In [35]:
df[df['answer'] ==1]["answered"].value_counts()   # 내가 하려고 하려고 헀는데 결국 못 구현한 콛 코드 .

0    51
1    29
Name: answered, dtype: int64

In [ ]:
 #  이렇게 할 수 있음 . 같은 결과 . 

answered_df_loc = df.loc[df['answer']==1]

answered_df = df[df['answer']==1]

In [ ]:
#확인 

answered_df_loc == answered_df

# 답변 대상 청원 중 투표를 가장 많이 받은 것


#  청원이 가장 많이 들어온 분야 

category!!!

In [ ]:
df.category

In [ ]:
# 이것도 몰랐음 . . . 
df.category.value_counts() 


category = pd.DataFrame(df['category'].value_counts()).reset_index()
category

category.columns = ['category', 'counts']
category.head(3)

In [ ]:
df

#  시계열 데이터보기


 - 월별 청원수를 집계해 보세요
  - 청원이 가장 많이 들어온 달은 ?
  - 요일별 청원 수 ?

In [ ]:
df['start'].value_counts()

In [ ]:
df['start_cal'] = df['start'].astype(str)

In [ ]:
df['start_cal'][4][5:7]

In [ ]:
df['start_cal'] = pd.to_datetime(df['start_cal'])

In [ ]:
df['start_cal'].dt.month.value_counts()

In [ ]:
# 날짜별 하는거 좀 잘 알아 놓으면 좋을듯 !

In [ ]:
df['start_month'] = df['start'].dt.month
df['start_dow'] = df['start'].dt.dayofweek
df.shape

In [ ]:
df['start_month'].value_counts()

In [ ]:
df['start_dow'].value_counts()

In [ ]:
df['start_dow'].value_counts().sort_index()

# 요일 순서대료 ! ! ! !

#

a2017 = 0
a2018 = 0
a2019 = 0
for i in range(0,len(df)) :

if df['start_cal'][i][0:4] == '2017' :
a2017 += 1
elif df['start_cal'][i][0:4] == '2018' :
a2018 += 1
elif df['start_cal'][i][0:4] == '2019' :
a2019 += 1
else :
continue

for i in range(0,len(df)) :
if df['start_cal'][i][5:7] == '01' :


print( '2017년 = ', a2017)
print( '2018 년 = ', a2018)
print( '2019 년 =', a2019)

ㄴㄴㄴㄴㄴㄴㄴㄴㄴ

In [ ]:
import re
p = r'.*(돌봄|아이|초등|보육).*'
care = df[df['title'].str.match(p) |