# JSON파일은 JavaScript Object Notation 임. 약간 딕셔너리 비슷한 형태로 파일이 저장되어있음.

# JSON파일은 HTTP에서 오는 데이터의 standard format임.
# 그래서 web이랑 다른 application끼리 request 주고받을 때 유용하며, 다른 tabular 데이터인 csv보다는 free한 형태임. 익혀보자

# json 라이브러리는 내장

In [31]:
# 이런게 json 형태의 파일임
obj = """
 {"name" : "Wes",
 "places_lived" : ["United States", "Spain", "Germany"],
 "pet" : null,
 "siblings" : [{"name" : "Scott", "age" : 30, "pets" : ["Zeus", "Zuko"]},
                {"name" : "Katie", "age" : 38,
                "pets" : ["Sixes", "Stache", "Cisco"]}]
 
 }
"""

In [32]:
obj

'\n {"name" : "Wes",\n "places_lived" : ["United States", "Spain", "Germany"],\n "pet" : null,\n "siblings" : [{"name" : "Scott", "age" : 30, "pets" : ["Zeus", "Zuko"]},\n                {"name" : "Katie", "age" : 38,\n                "pets" : ["Sixes", "Stache", "Cisco"]}]\n \n }\n'

In [37]:
# json 라이브러리가 내장되어있음
import json
import pandas as pd
# 이거는 JSON파일을 --> Python 형태로 바꾸는 것임!
result = json.loads(obj)

In [38]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [39]:
# 반대로 python형태의 파일을 --> JSON으로 다시 하려면 ?    json.dumps
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [45]:
result['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [44]:
siblings = pd.DataFrame(result['siblings'], columns = ['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

# read_json으로 읽어오기 : 판다스에서 자동으로 형태를 데이터프레임으로 바꾸어 줌 .

In [54]:
# JSON 파일은 이렇고,
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [57]:
# 이렇게 읽으면 다음과 같이 보여진다 - DATAFRAME형태로.
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [69]:
# 이렇게 하면 pandas에서 JSON 형태로 송출한다!!!!!!! OK
data.to_json('zz.json')