## 엑셀 파일 읽고 써보자

In [6]:
import pandas as pd

In [20]:
# 일단 엑셀 불러와보자
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [21]:
xlsx

In [22]:
# 이거는 파싱을 해서 읽음. 그니까 우리가 원하는 형태로 보여줌
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [24]:
# 엑셀데이터를 읽어 데이터프레임으로 frame에다가 저장해보자
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame['This is it'] = 'please, set me free'
frame

   Unnamed: 0  a   b   c   d message           This is it
0           0  1   2   3   4   hello  please, set me free
1           1  5   6   7   8   world  please, set me free
2           2  9  10  11  12     foo  please, set me free

In [25]:
# ExcelWriter이용하여 이 프레임이
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [26]:
writer

In [32]:
# save 꼭 해야.
writer = pd.ExcelWriter('examples/ex99.xlsx')
frame.to_excel(writer, 'Sheet101')
writer.save()