In [51]:
# list에서 몰랐던 기능들   -  append와 insert의 차이
# 그런데 insert가 순서를 변경해야하므로 연산이 더 복잡함 
a_list = ['foo' , 'peekachu', 'baz', 'dwarf']

In [52]:
a_list.append('yahoo')
a_list

['foo', 'peekachu', 'baz', 'dwarf', 'yahoo']

In [53]:
a_list.insert(1,'Google')

In [54]:
a_list

['foo', 'Google', 'peekachu', 'baz', 'dwarf', 'yahoo']

## insert의 반대, pop

In [55]:
a_list.pop(2)

'peekachu'

In [56]:
a_list

['foo', 'Google', 'baz', 'dwarf', 'yahoo']

In [59]:
# 요소를 지정해서 제거하기 - remove
a_list.remove('Google')

In [61]:
# sort
# 리스트 하나 더 만들지 않고도 리스트를 정렬함

In [62]:
a = [7,2,5,1,3]

In [64]:
a.sort()
a

[1, 2, 3, 5, 7]

In [66]:
#또한 key에 따라서 sort 가능!!!
b = ['saw', 'small', 'He', 'foxes' , 'six']
b.sort(key = len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [50]:
import bisect
c = [2,6,193,59,2]
c

[2, 6, 193, 59, 2]

In [51]:
bisect.insort(c,5)
c

[2, 5, 6, 193, 59, 2]

In [11]:
c

[1, 2, 3, 6, 9, 4, 7]

In [6]:
bisect.insort(c,1)

### enumerate 사용하기
 - 주로 딕셔너리에 저장함

In [81]:
seq = ['가재','붕어','금붕어','잉어','아구']

In [82]:
mapping = {}
for i, num in enumerate(seq) :
    mapping[i] = num
    
mapping

{0: '가재', 1: '붕어', 2: '금붕어', 3: '잉어', 4: '아구'}

## zip 
 - sequensce를 짝 지음

In [86]:
seq1 = ['foo', 'bee' ,'chi']
seq2 = ['가재','금붕어','아구']
list(zip(seq1,seq2))

[('foo', '가재'), ('bee', '금붕어'), ('chi', '아구')]

In [87]:
# 숫자가 다른 경우 가장 짧으 것을 기준으로 함
seq3 = [1,2]
list(zip(seq1,seq2,seq3))

[('foo', '가재', 1), ('bee', '금붕어', 2)]

In [95]:
# 보통 이런 식으로 zip과 enumerate 같이 묶어서 쓴다
for i, (a,b) in enumerate(zip(seq1,seq2)) :
    print("{0} : {2}, {1}".format(i,a,b))

0 : 가재, foo
1 : 금붕어, bee
2 : 아구, chi

#### reversed : generator다. = does not create the reversed sequence until materialized (with list or for loop)

In [99]:
# 이런식으로 reversed 는 generator라 list 붙여주어야 나온다
reversed(range(10))

### dictionary에서 요소를 지우는 방법은 del과 pop이 있음

In [106]:
dicdic = {'하하' : 'ㅋ', '감사' : 'ㄳ','안녕' : 'ㅎㅇ'}

In [107]:
dicdic['하하']

'ㅋ'

In [108]:
del dicdic['하하']

In [109]:
dicdic.pop('안녕')

'ㅎㅇ'

In [110]:
dicdic

{'감사': 'ㄳ'}

In [113]:
dicdic.update({'퀌퀌' : '핸드폰'})

In [116]:
dicdic

{'감사': 'ㄳ', '퀌퀌': '핸드폰'}

##### update는 in - place로 업데이트한다. 즉 기존 값 위에 덧붙인다 !!

In [120]:
dicdic.update({'감사' :'ㅋㅋ'})

In [121]:
dicdic

{'감사': 'ㅋㅋ', '퀌퀌': '핸드폰'}

In [122]:
mappint = {}
for key,value in zip([1,2,3,4,5], [6,7,8,9,90]) : 
    mappint[key] = value

In [123]:
mappint

{1: 6, 2: 7, 3: 8, 4: 9, 5: 90}

In [126]:
dict(zip([1,2,3,4,5], [6,7,8,9,90]))

{1: 6, 2: 7, 3: 8, 4: 9, 5: 90}

In [141]:
some_dict = {0: '가재', 1: '붕어', 2: '금붕어', 3: '잉어', 4: '아구'}

In [158]:
default_value = '갸라도스'
key = 10
if key in some_dict :
    value = some_dict[key]
else :
    value = default_value

In [161]:
value = some_dict.get(key, default_value)

In [162]:
value

'갸라도스'