# 판다스 loc, iloc, 조건줘서 추출하기 연습

In [36]:
import pandas as pd
import numpy as np

In [78]:
result_df = pd.DataFrame(data=np.array([[2,32, 7], [5, 8, 5], [4, 16, 9]]), columns=['가로', '세로', '높이'])

In [79]:
result_df

   가로  세로  높이
0   2  32   7
1   5   8   5
2   4  16   9

In [80]:
# 이런식으로 조건 써주고 
length_condition = result_df['가로'] != result_df['세로']

In [81]:
length_condition

0    True
1    True
2    True
dtype: bool

In [82]:
width_condition = result_df['가로'] * result_df['세로'] == 64

In [83]:
width_condition

0     True
1    False
2     True
dtype: bool

In [84]:
result_df[length_condition & width_condition]

   가로  세로  높이
0   2  32   7
2   4  16   9

In [85]:
square_index = result_df[length_condition & width_condition].index.to_list()

In [86]:
square_index

[0, 2]

In [90]:
# loc는 '높이' 같이 그 말을 정확히 써줘야하고
result_df.loc[square_index,'높이']

0    7
2    9
Name: 높이, dtype: int32

In [96]:
# iloc는 숫자로 몇번째인지를 알려주면 됨
result_df.iloc[square_index,2]

0    7
2    9
Name: 높이, dtype: int32