# Binary Data Formats

# Pickle 데이터를 알아보자 
 - 피클은 data를 쉽게 저장하는 방법임.
 - binary 포맷인데, to_pickle 메소드로 데이터를 pickle 포맷으로 저장한다고 함.
 - 잠깐 단기로 저장해놓을 때 유용함!
 - 아주 정확힌 모르겠지만, 형태를 안 바꾸고 그냥 그대로 저장해냈다가 그대로 돌려주는 것으로 알고 있음

In [11]:
frame = pd.read_csv('examples/ex1.csv')

In [12]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
# 이렇게 피클 형태로 해보자 - frame_pickle 이라는 이름의 피클파일이 생성!
frame.to_pickle('examples/frame_pickle')

In [16]:
# 피클 읽어오기
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo